<h1>Welcome to your de TAREAS : Hub to organized your life</h1>



    <% if logged_in? %>
        <h3><%= current_user['name']%><h2>Profile</h2></h3>
        <form action="/sessions" method="POST">
             <input type="hidden" name="_method" value="delete">
            <button>Logout</button>
        </form>
    <% end %>

    <% mainpage.each do |x|%>
    <h1>Name :<%= x["name"]%></h1>
    <h1>Email:<%= x["email"]%></h1>
    <h1>Address:<%= x["address"]%></h1>
    <h1>Contact Number:<%= x["contact_num"]%></h1>

    <%end%>


    
    <a href="/todopage"><button>To-Do</button></a>
    <a href="/socimediapage"><button>Social Media</button></a>
    <a href="/quotepage"><button>Quotes</button></a>
    <a href="/financialpage"><button>Financial</button></a>
    <a href="/familypage"><button>Family</button></a>
    
    <a href="/index"></a><button>Sign Out</button>






