<h1>Your Family Members </h1>
<a href="/family/new">Add New Family Members</a>

<% families.each do |family|%>
     <p><a href="/family/<%= family['id']%>/edit">Edit</a></p>
    <p>Name:<%= family["name"]%></p>
    <p>Relationship:<%= family["relationship"]%></p>
    <p>Birth Day:<%= family["birth_date"]%></p>
    <p>Address:<%= family["address"]%></p>
    <p>Contact Number:<%= family["contact_num"]%></p>

    <form action="/family/<%=family['id']%>" method="POST">
    <input type="hidden" name="_method" value="delete">
    <button>Delete</button>
    
    
    </form>

<%end%>

<a href="/mainpage"><button>Back to main page</button></a>