<h1>Your Quote list </h1>
<a href="/quote/new">Add New Quote</a>

<% quotes.each do |quote|%>
    <p><a href="/quote/<%= quote['id']%>/edit">Edit</a></p>
    <p>Date:<%= quote["date"]%></p>
    <p>Life Quote:<%= quote["life_quote"]%></p>
    <p>Url:<%= quote["image"]%></p>

    <form action="/quote/<%= quote['id'] %>" method = "POST">
    <input type="hidden" name="_method" value="delete">
    <button>Delete</button>
    </form>
    
<%end%>

<a href="/mainpage"><button>Back to main page</button></a>